*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}

#calculator {
    background-color: #FFCC00;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 30px 0 30px;
    border-radius: 10px;
    box-shadow: 15px 15px 0px #CC9900;
}

#calculator:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 8px;
    background-color: #CC9900;
    transform: rotate(45deg);
    margin-left: -29px;
    margin-top: -2px;
    z-index: -1;
}

#calculator:before {
    content: '';
    position: absolute;
    margin-left: 458px;
    margin-top: -22px;
    width: 25px;
    height: 8px;
    background-color: #CC9900;
    transform: rotate(45deg);
    z-index: -1;
}

#calculator > .operands {
    width: 100%;
    padding: 20px;
    text-align: right;
    background-color: #99CCCC;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 70px;
}

#calculator > .operands > [data-operand-2] {
    font-size: 40px;
}

#calculator > .btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

#calculator > .btn-grid > button {
    padding: 10px;
    background-color: aliceblue;
    font-weight: bold;
    border-radius: 10px;
    border-width: 5px;
    border-color: lightsteelblue;
    font-size: 25px;
}

#calculator > .btn-grid > button:nth-child(2){
    grid-column: span 2;
}

#calculator > .btn-grid > button:last-child{
    grid-column: span 2;
    background-color: #FF6666;
    border-color: #FF9999;
}